<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Battlewind</title>


</head>
<body>

<table class="mw-100">
    <tr>
        <td><h1>Battlewind - Zaproszenie do drużyny</h1></td>
    </tr>

    <tr>
        <td>
            <p>Zostałeś zaproszony do drużny: <b> {{ team.teamName }} </b></p>
            <p>Kod weryfikacyjny dzięki któremu dołączysz do drużyny: <b>{{ code }}.</b></p>
            <p><a href="{{ acceptation_url }}">Kliknij tutaj</a> aby przejść do strony logowania/rejestracji.</p>
        </td>
    </tr>
</table>

</body>
</html>